.custom-paginator .mat-mdc-select-value .mat-mdc-select-value-text {
    padding-left: 100px;
    display : inline-block;
}

.different{
    background: rgb(250, 144, 144);
}

.hidden-column {
  display: none;
}

::ng-deep .mat-mdc-paginator-page-size .mat-mdc-select-value {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;     /* Vertical center */
  text-align: center;
}

::ng-deep .mat-mdc-paginator-page-size .mat-mdc-select-trigger {
  display: flex;
  justify-content: center;
  align-items: center;
}